version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:8.0-node-browsers
    steps:
      - checkout
      - restore_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
      - run:
          working_directory: src
          command: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
          paths:
            - src/vendor
      - run:
          working_directory: src
          command: npm ci
      - run:
          working_directory: src
          command: npm run dev
      - run:
          name: php test
          working_directory: src
          command: vendor/bin/phpunit
