version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:8.0-node-browsers
    steps:
      - checkout
      - restore_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
      - run:
          working_directory: src
          command: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
          paths:
            - src/vendor
      - restore_cache:
          key: npm-v1.1-{{ checksum "src/package-lock.json" }}
      - run:
          name: npm ci
          working_directory: src
          command: |
            if [ ! -d node_modules ]; then
              npm ci
            fi
      - save_cache:
          key: npm-v1.1-{{ checksum "src/package-lock.json" }}
          paths:
            - src/node_modules
      - run:
          working_directory: src
          command: npm run dev
      - run:
          name: php test
          working_directory: src
          command: vendor/bin/phpunit
  deploy:
      docker:
        - image: circleci/php:8.0-node-browsers
      steps:
        - add_ssh_keys
        - run:
            name: deploy
            command: |
              ssh -o StrictHostKeyChecking=no -t webapp@${HOST_NAME} "cd master-piece-app-front/src && \
                git pull origin main && \
                composer install -n --no-dev --prefer-dist && \
                npm ci && \
                npm run prod && \
                php artisan migrate --force && \
                php artisan config:cache"
workflows:
  version: 2
  build_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main
