version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:8.0-node-browsers
      - image: circleci/mysql:8.0.28
        environment:
          MYSQL_DATABASE: master-piece-circleci-test
          MYSQL_USER: default
          MYSQL_PASSWORD: secret
          MYSQL_ROOT_PASSWORD: root
          TZ: 'Asia/Tokyo'
    environment:
      APP_ENV: testing
      DB_CONNECTION: mysql
      DB_HOST: localhost
      DB_PORT: 3306
      DB_DATABASE: master-piece-circleci-test
      DB_USERNAME: default
      DB_PASSWORD: secret
    steps:
      - checkout
      - restore_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
      - run:
          working_directory: src
          command: composer install -n --prefer-dist
      - save_cache:
          key: composer-v1-{{ checksum "src/composer.lock" }}
          paths:
            - src/vendor
      - restore_cache:
          key: npm-v1-{{ checksum "src/package-lock.json" }}
      - run:
          name: npm ci
          working_directory: src
          command: |
            if [ ! -d node_modules ]; then
              npm ci
            fi
      - save_cache:
          key: npm-v1-{{ checksum "src/package-lock.json" }}
          paths:
            - src/node_modules
      - run:
          working_directory: src
          command: npm run dev
      - run:
          name: get ready for mysql
          working_directory: src
          command: |
            sudo apt-get update
            sudo apt-get install libpq-dev
            sudo docker-php-ext-install pdo_mysql
            dockerize -wait tcp://localhost:3306 -timeout 1m
      - run:
          name: php test
          working_directory: src
          command: vendor/bin/phpunit
